%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

%% == Erlang Compiler ==

{erl_opts, [debug_info,
  warn_missing_spec,
  {src_dirs, ["src"]}]}.

%% == EDoc ==

%% EDoc options
%% {edoc_opts, []}.

%% == CT ==

{ct_dir, "test"}.
{ct_log_dir, "test/logs"}.

%% == Cleanup ==

{clean_files, ["*.beam"]}.